<div class="ui container">

  <div id="messages" class="ui comments">
    <%= render @messages %>
  </div>
  <div class="ui rply form">
    <div class="field">
      <textarea id="message" placeholder="votre message"></textarea>
    </div>
  </div>
</div>
